<div class="flex flex-col sm:flex-row items-center md:items-start sm:justify-center md:justify-start flex-auto min-w-0">
    <div class="md:flex md:items-center md:justify-end w-full sm:w-auto md:h-full md:w-1/2 py-8 px-4 sm:p-12 md:p-16 sm:rounded-2xl md:rounded-none sm:shadow md:shadow-none sm:bg-card">
        <div class="w-full max-w-130 sm:w-120 mx-auto sm:mx-0">
            <!-- Logo -->
            <div class="max-w-60  ">
                <img class="text-grey-400" src="assets/images/logo/SopraHR.svg">
            </div>

            <!-- Title -->
            <!-- <div class="mt-8 text-4xl font-extrabold tracking-tight leading-tight">Sign up</div> -->


            <!-- Alert -->
            <fuse-alert
                class="mt-8"
                *ngIf="showAlert"
                [appearance]="'outline'"
                [showIcon]="false"
                [type]="alert.type"
                [@shake]="alert.type === 'error'">
                {{alert.message}}
            </fuse-alert>

            <!-- Sign Up form -->
            <form
            [formGroup]="signUpForm">
            <mat-horizontal-stepper
                [linear]="true"
                #verticalStepper>
                <mat-step
                    [formGroupName]="'step1'"
                    [stepControl]="signUpForm.get('step1')"
                    #verticalStepperStep1>
                    <ng-template matStepLabel>Basic information</ng-template>
                    <p class="my-6 font-bold">
                        In this section we need you basic informations
                    </p>
                    <!-- Full Name -->
                    <div class="flex">
                        <mat-form-field class="flex-auto">
                            <input
                                matInput
                                [formControlName]="'fullName'"
                                [placeholder]="'Full name'"
                                required>
                            <mat-icon
                                class="icon-size-5"
                                matPrefix
                                [svgIcon]="'heroicons_outline:user'"></mat-icon>
                                <mat-error *ngIf="signUpForm.get('step1.fullName').hasError('required')">Full name is required</mat-error>
                                <mat-error *ngIf="signUpForm.get('step1.fullName').hasError('invalidFormat')">Full name should contain only numbers</mat-error>
                                <mat-error *ngIf="signUpForm.get('step1.fullName').hasError('minlength')">Full name should be at least 3 letters long</mat-error>
                                <mat-error *ngIf="signUpForm.get('step1.fullName').hasError('maxlength')">Full name maximum 20 letters long</mat-error>
                        
                            </mat-form-field>
                    </div>
                    <div class="flex">
                         <!-- NcIn -->
                        <mat-form-field class="flex-auto">
                            <input
                                (input)="checkFieldExists('sopraID')"
                                matInput
                                [formControlName]="'sopraID'"
                                [placeholder]="'Sopra Identifier'"
                                required>
                            <mat-icon
                                class="icon-size-5"
                                matPrefix
                                [svgIcon]="'heroicons_outline:identification'"></mat-icon>
                                <mat-error *ngIf="signUpForm.get('step1.sopraID').hasError('required')">sopraID is required</mat-error>
                                <mat-error *ngIf="signUpForm.get('step1.sopraID').hasError('Exist')">sopraID already exists</mat-error>
                            </mat-form-field>
                    </div>
                    <div class="flex">
                        <!-- Phone NuMBER -->
                       <mat-form-field class="flex-auto">
                           <input
                               matInput
                               [formControlName]="'phoneNumber'"
                               [placeholder]="'Phone Number'"
                               required>
                           <mat-icon
                               class="icon-size-5"
                               matPrefix
                               [svgIcon]="'heroicons_outline:phone'"></mat-icon>
                               <mat-error *ngIf="signUpForm.get('step1.phoneNumber').hasError('required')">Phone Number is required</mat-error>
                               <mat-error *ngIf="signUpForm.get('step1.phoneNumber').hasError('invalidFormat')">Phone should contain only numbers</mat-error>
                               <mat-error *ngIf="signUpForm.get('step1.phoneNumber').hasError('invalidLength')">Phone should be exactly 8 digits long</mat-error>
                       </mat-form-field>
                   </div>
                <div class="flex">
                 <!-- Email field -->
                    <mat-form-field class="flex-auto">
                        <input
                            (input)="checkFieldExists('email')"
                            matInput
                            [formControlName]="'email'"
                            [placeholder]="'Email Address'"
                            required>
                        <mat-icon
                            class="icon-size-5"
                            matPrefix
                            [svgIcon]="'heroicons_outline:mail'"></mat-icon>
                            <mat-error *ngIf="signUpForm.get('step1.email').hasError('required')">Email address is required</mat-error>
                            <mat-error *ngIf="signUpForm.get('step1.email').hasError('email')">Please enter a valid email address</mat-error>
                            <mat-error *ngIf="signUpForm.get('step1.email').hasError('Exist')">Email address already exists</mat-error>

                        </mat-form-field>
                </div>
                     <!-- sexe -->
                   <div class="flex"> 
                    <mat-form-field class="flex-auto gt-xs:pr-3">
                        <mat-select
                            [formControlName]="'gender'"
                            [placeholder]="'Choose your gender'"
                            required
                        >
                            <mat-option value="Male"
                                >Male</mat-option
                            >
                            <mat-option value="Female"
                                >Female</mat-option
                            >
                        </mat-select>
                        <mat-icon
                            class="icon-size-5"
                            matPrefix
                            [svgIcon]="
                                'heroicons_outline:chevron-double-right'
                            "
                        ></mat-icon>
                        <mat-error *ngIf="signUpForm.get('step1.gender').hasError('required')">Please choose your gender</mat-error>
                    </mat-form-field>
                   </div>
                   
                      <!-- button next -->
                    <div class="flex justify-end">
                        <button
                            class="px-8 mt-4"
                            mat-flat-button
                            [color]="'primary'"
                            [disabled]="verticalStepperStep1.stepControl.pristine || verticalStepperStep1.stepControl.invalid"
                            type="button"
                            matStepperNext>
                            Next
                        </button>
                    </div>

                </mat-step>

                <mat-step
                    [formGroupName]="'step2'"
                    [stepControl]="signUpForm.get('step2')"
                    #verticalStepperstep2>
                    <ng-template matStepLabel>Security</ng-template>
                    <p class="my-3 mb-4 font-bold">
                        Here we you will add the information related to the plateform
                    </p>
                     <!-- password -->
                     <div class="flex">
                        <mat-form-field class="flex-auto">
                                <input
                                    matInput
                                    type="password"
                                    [formControlName]="'password'"
                                    placeholder="Password"
                                    #passwordField>
                                <button
                                    mat-icon-button
                                    type="button"
                                    (click)="passwordField.type === 'password' ? passwordField.type = 'text' : passwordField.type = 'password'"
                                    matSuffix>
                                    <mat-icon
                                        class="icon-size-5"
                                        *ngIf="passwordField.type === 'password'"
                                        [svgIcon]="'heroicons_solid:eye'"></mat-icon>
                                    <mat-icon
                                        class="icon-size-5"
                                        *ngIf="passwordField.type === 'text'"
                                        [svgIcon]="'heroicons_solid:eye-off'"></mat-icon>
                                </button>
                                <mat-error *ngIf="signUpForm.get('step2.password').errors?.required">Password is required</mat-error>
                                <mat-error *ngIf="signUpForm.get('step2.password').errors?.missingNumber && !signUpForm.get('step2.motDePasse').errors?.required">Password must contain at least one number</mat-error>
                                <mat-error *ngIf="signUpForm.get('step2.password').errors?.missingSpecialChar && !signUpForm.get('step2.motDePasse').errors?.required && !signUpForm.get('step2.motDePasse').errors?.missingNumber"> at least one special character</mat-error>
                                <mat-error *ngIf="signUpForm.get('step2.password').errors?.minLength && !signUpForm.get('step2.motDePasse').errors?.required && !signUpForm.get('step2.motDePasse').errors?.missingNumber && !signUpForm.get('step2.motDePasse').errors?.missingSpecialChar">at least 8 characters long</mat-error>
                                <mat-error *ngIf="signUpForm.get('step2.password').errors?.missingUpperCase && !signUpForm.get('step2.motDePasse').errors?.missingNumber&& !signUpForm.get('step2.motDePasse').errors?.missingSpecialChar && !signUpForm.get('step2.motDePasse').errors?.required">Password must contain at least one uppercase character</mat-error>
                            </mat-form-field>
                    </div>

                    <mat-form-field class="flex">
                        <mat-select
                            [formControlName]="'role'"
                            placeholder="Choose your Role"
                            required
                        >
                            <mat-option *ngFor="let role of userRoleValues" [value]="role">
                                {{ role.replace('_', ' ') | titlecase }}
                            </mat-option>
                        </mat-select>
                        <mat-icon
                            class="icon-size-5"
                            matPrefix
                            [svgIcon]="'heroicons_outline:tag'"
                        ></mat-icon>
                    </mat-form-field>
                    
                     <!-- hiringDate -->
                    <div class="font-medium">Hiring Date</div>
                    <div
                        class="relative flex items-center mt-1.5 px-4 leading-9 rounded-full cursor-pointer text-gray-500 bg-gray-100 dark:text-gray-300 dark:bg-gray-700"
                        (click)="hiringDatePicker.open()"
                    >
                        <mat-icon
                            class="icon-size-5 text-current"
                            [svgIcon]="'heroicons_solid:calendar'"
                        ></mat-icon>
                        <span class="ml-2 text-md font-medium">
                            <ng-container
                                *ngIf="
                                    signUpForm.get(
                                        'step2.hiringDate'
                                    ).value
                                "
                            >
                                {{
                                    signUpForm.get(
                                        "step2.hiringDate"
                                    ).value | date : "longDate"
                                }}
                            </ng-container>
                            <ng-container
                                *ngIf="
                                    !signUpForm.get(
                                        'step2.hiringDate'
                                    ).value
                                "
                                >Not set</ng-container
                            >
                        </span>
                        <mat-form-field
                            class="fuse-mat-dense invisible absolute inset-0 -mt-2.5 opacity-0 pointer-events-none"
                            [subscriptSizing]="'dynamic'"
                        >
                            <input
                                matInput
                                [formControlName]="'hiringDate'"
                                [matDatepicker]="hiringDatePicker"
                                [max]="maxDate"
                                [min]="minDate"
                            />
                            <mat-datepicker #hiringDatePicker>
                                <mat-datepicker-actions>
                                    <button
                                        mat-button
                                        (click)="
                                            signUpForm
                                                .get(
                                                    'step2.hiringDate'
                                                )
                                                .setValue(null)
                                        "
                                        matDatepickerCancel
                                        
                                    >
                                        Clear
                                    </button>
                                    <button
                                        class=""
                                        mat-flat-button
                                        [color]="'primary'"
                                        matDatepickerApply
                                    >
                                        Select
                                    </button>
                                </mat-datepicker-actions>
                            </mat-datepicker>
                        </mat-form-field>
                    </div>
                    
                    <div class="flex justify-end mt-8">
                        <button
                            class="px-8 mr-2"
                            mat-flat-button
                            [color]="'accent'"
                            type="button"
                            matStepperPrevious>
                            Back
                        </button>
                        <button
                            *ngIf="displayAlternateOption"
                            class="px-8"
                            mat-flat-button
                            [color]="'primary'"
                            type="button"
                            [disabled]="verticalStepperstep2.stepControl.pristine || verticalStepperstep2.stepControl.invalid"
                            matStepperNext>
                            Next
                        </button>
                        <button
                        *ngIf="!displayAlternateOption"
                        (click)="signUp()"
                         class="px-8"
                         mat-flat-button
                         [color]="'primary'"
                         type="button"
                         [disabled]="verticalStepperstep2.stepControl.pristine || verticalStepperstep2.stepControl.invalid"
                         matStepperNext>
                         Next
                     </button>
                    </div>
                </mat-step>

                <mat-step
                *ngIf="displayAlternateOption"
                [formGroupName]="'step3'"
                [stepControl]="signUpForm.get('step3')"
                #verticalStepperstep3>
                <ng-template matStepLabel>Study schedule</ng-template>
                <p class="my-6 font-bold">
                    One last thing, Please provide us with study schedule
                </p>
                <!-- weeks of the month  -->
                <div 
                class="flex flex-col mt-2 mb-3 gt-sm:mt-0 gt-sm:ml-16">
                    <span class="font-medium mb-2">Studying weeks for each</span>
                    <mat-radio-group
                        [formControlName]="'isTwoFirstWeek'"
                        class="flex flex-row" 
                        [color]="'primary'"
                        [value]="'just-good'">
                        <mat-radio-button
                            class="mr-4" 
                            [value]="true">
                            First Two Weeks
                        </mat-radio-button>
                        <mat-radio-button
                            [value]="false">
                            Last Two Weeks
                        </mat-radio-button>
                    </mat-radio-group>
                </div>

                     <!-- Study Days -->
                 <div class="flex"> 
                        <mat-form-field class="flex-auto gt-xs:pr-3">
                            <mat-select
                                [formControlName]="'daysOfStudy'"
                                [placeholder]="'Choose the 2 study days '"
                                multiple
                                required>
                                <mat-option *ngFor="let day of daysOfWeek" [value]="day.value">
                                    {{ day.viewValue }}
                                </mat-option>
                            </mat-select>
                            <mat-icon
                                class="icon-size-5"
                                matPrefix
                                [svgIcon]="
                                    'heroicons_outline:chevron-double-right'
                                "
                            ></mat-icon>
                            <mat-error *ngIf="signUpForm.get('step3.daysOfStudy').hasError('required')">Please choose study days</mat-error>
                            <mat-error *ngIf="signUpForm.get('step3.daysOfStudy').hasError('twoDays') && !signUpForm.get('step3.daysOfStudy').hasError('required')">You must select exactly two days.</mat-error>
                            
                        </mat-form-field>
                       </div>           
                <!-- Next and Previous buttons -->
                <div class="flex justify-end mt-8">
                    <button
                        class="px-8 mr-2"
                        mat-flat-button
                        [color]="'accent'"
                        type="button"
                        matStepperPrevious>
                        Back
                    </button>
                    <button
                        (click)="signUp()"
                        class="px-8"
                        mat-flat-button
                        [color]="'primary'"
                        type="button"
                        [disabled]="verticalStepperstep3.stepControl.pristine || verticalStepperstep3.stepControl.invalid"
                        matStepperNext>
                        Next
                    </button>
                </div>
            </mat-step>
            </mat-horizontal-stepper>
            <div class="flex items-baseline mt-0.5 font-medium">
                <div>Already have an account?</div>
                <a
                    class="ml-1 text-primary-500 hover:underline"
                    [routerLink]="['/sign-in']">Sign in
                </a>
            </div>
        </form>
        </div>
    </div>
    <div class="relative hidden md:flex flex-auto items-center justify-center w-1/2 h-full p-16 lg:px-28 overflow-hidden bg-purple-700 dark:border-l">
        <!-- Background - @formatter:off -->
        <!-- Rings -->
        <svg class="absolute inset-0 pointer-events-none"
             viewBox="0 0 960 540" width="100%" height="100%" preserveAspectRatio="xMidYMax slice" xmlns="http://www.w3.org/2000/svg">
            <g class="text-amber-400 opacity-25" fill="none" stroke="currentColor" stroke-width="100">
                <circle r="234" cx="196" cy="23"></circle>
                <circle r="234" cx="790" cy="491"></circle>
            </g>
        </svg>
        <!-- Dots -->
        <svg class="absolute -top-16 -right-16 text-gray-50"
             viewBox="0 0 220 192" width="220" height="192" fill="none">
            <defs>
                <pattern id="837c3e70-6c3a-44e6-8854-cc48c737b659" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
                    <rect x="0" y="0" width="4" height="4" fill="currentColor"></rect>
                </pattern>
            </defs>
            <rect width="220" height="192" fill="url(#837c3e70-6c3a-44e6-8854-cc48c737b659)"></rect>
        </svg>
        <!-- @formatter:on -->
        <!-- Content -->
        <div class="z-10 relative w-full max-w-2xl">
            <div class="text-7xl font-bold leading-none text-gray-100">
                <div>Welcome to</div>
                <div>our plateforme</div>
            </div>
            <div class="mt-6 text-lg tracking-tight leading-6 text-gray-100">
                Fuse helps developers to build organized and well coded dashboards full of beautiful and rich modules.
                Join us and start building your application today.
            </div>
            <div class="flex items-center mt-8">
                <div class="flex flex-0 items-center -space-x-1.5">
                    <img
                        class="flex-0 w-10 h-10 rounded-full ring-4 ring-offset-1 ring-zinc-900 ring-offset-zinc-900 object-cover"
                        src="assets/images/avatars/female-18.jpg">
                    <img
                        class="flex-0 w-10 h-10 rounded-full ring-4 ring-offset-1 ring-zinc-900 ring-offset-zinc-900 object-cover"
                        src="assets/images/avatars/female-11.jpg">
                    <img
                        class="flex-0 w-10 h-10 rounded-full ring-4 ring-offset-1 ring-zinc-900 ring-offset-zinc-900 object-cover"
                        src="assets/images/avatars/male-09.jpg">
                    <img
                        class="flex-0 w-10 h-10 rounded-full ring-4 ring-offset-1 ring-zinc-900 ring-offset-zinc-900 object-cover"
                        src="assets/images/avatars/male-16.jpg">
                </div>
                <div class="ml-4 font-medium tracking-tight text-gray-300">More than 17k people joined us, it's your turn</div>
            </div>
        </div>
    </div>
</div>
