:host {
  display: flex;
  flex: 1 1 auto;
  width: 100%;
  height: 100%;
}

.schedule-block-events {
  &.e-schedule {
    .e-timeline-view {
      .e-appointment {
        .template-wrap {
          .subject {
            padding: 10px 25px;
          }
        }
      }
    }

    .template-wrap {
      width: 100%;
    }

    .e-vertical-view {
      .e-resource-cells {
        height: 58px;
      }

      .e-appointment {
        .template-wrap {
          .subject {
            padding-top: 10px;
          }
        }
      }
    }

    .e-timeline-view,
    .e-timeline-month-view {
      .e-resource-left-td {
        width: 170px;
      }
    }

    .e-resource-cells {
      &.e-child-node {
        .employee-category,
        .employee-name {
          padding: 5px;
        }
      }
    }

    .employee-image {
      width: 45px;
      height: 40px;
      float: left;
      border-radius: 50%;
      margin-right: 10px;
    }

    .employee-name {
      font-size: 13px;
    }

    .employee-designation {
      font-size: 10px;
    }
  }

  .subject {
    text-align: center;
  }

  &.e-block-appointment {
    .subject {
      padding-top: 10px;
    }
  }
}
