<div class="relative flex flex-col w-full h-full">
    <!-- Dismiss button -->
    <ng-container *ngIf="data.dismissible">
        <div class="absolute top-0 right-0 pt-4 pr-4">
            <button
                mat-icon-button
                [matDialogClose]="undefined">
                <mat-icon
                    class="text-secondary"
                    [svgIcon]="'heroicons_outline:x'"></mat-icon>
            </button>
        </div>
    </ng-container>
  
    <!-- Content -->
        <div class="flex flex-col mt-5 p-8 pb-5 bg-card shadow rounded overflow-hidden">
            <p class="text-lg font-medium">Add Collaborator to Team</p>
            <p class="text-secondary">
                In this section you can Add a Collaborator to your Team 
            </p>
            <mat-divider class="mt-8 mb-5"></mat-divider>
            <div class="flex flex-col gt-xs:flex-row">
                <ejs-dropdownlist
                 placeholder="Please enter the email of the Collaborator" 
                id='ddlelement' 
                #samples 
                [dataSource]='collaborators' 
                [query]='query' 
                [fields]='fields' 
                [placeholder]='text' 
                [allowFiltering]='true' 
                [sortOrder]='sorting' 
                (filtering)='onFiltering($event)'                
                (change)='onSelectionChange($event)'
                
                ></ejs-dropdownlist>
            </div>

        </div>
  
        <!-- Actions -->
        <ng-container *ngIf="data.actions.confirm.show || data.actions.cancel.show">
            <div class="flex items-center justify-center sm:justify-end px-6 py-4 space-x-3 bg-gray-50 dark:bg-black dark:bg-opacity-10">
                <!-- Cancel -->
                <ng-container *ngIf="data.actions.cancel.show">
                    <button
                        mat-stroked-button
                        [matDialogClose]="'cancelled'">
                        {{ data.actions.cancel.label }}
                    </button>
                </ng-container>
  
                <!-- Confirm -->
                <ng-container *ngIf="data.actions.confirm.show">
                    <button
                        mat-flat-button
                        [color]="data.actions.confirm.color"
                        type="submit"
                        [matDialogClose]="'confirmed'"
                        (click)="onSubmit()"
                       >
                        {{ data.actions.confirm.label }}
                    </button>
                </ng-container>
            </div>
        </ng-container>
  </div>