<!-- <div class="sm:col-span-6 flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden">
    <div class="text-lg font-medium tracking-tight leading-6 truncate">Budget Details</div>
    <div class="flex flex-col flex-auto mt-2 overflow-x-auto">

    </div>
</div> -->



<div class="flex flex-col flex-auto min-w-0">
    <!-- Main -->
    <div class="flex-auto p-6 sm:p-10">
        <!-- CONTENT GOES HERE -->
        <div class="mt-4  h-150 min-h-50 max-h-300 border-2 rounded-2xl">
            <ejs-grid #grid
            id="grid" class="border-2 rounded-2xl" [dataSource]="data" height="400" [allowFiltering]="true"
                [allowGrouping]='true' [filterSettings]="filterSettings" [editSettings]="editSettings"
                [toolbar]='toolbarOptions' [allowPaging]="true" [pageSettings]="PageSettings" allowPaging='true'
                allowGrouping='true' allowSorting='true' showColumnMenu='true' (actionBegin)="actionBegin($event)"
                (toolbarClick)='approveAllRequests($event)'>
                <e-columns>
                    <e-column field="user.fullName" headerText="Collaborator" width="120" textAlign="center"
                        isPrimaryKey="true" [validationRules]="orderidrules">
                    </e-column>
                    <e-column field="user.isAlternate" headerText="Is Alternate" width="100"
                        [validationRules]="customeridrules" isPrimaryKey="true">
                    </e-column>
                    <e-column field="user.email" headerText="Email" width="140" format="yMd" textAlign="left"
                        isPrimaryKey="true"></e-column>
                    <e-column field="requestDate" headerText="Remote work Request date" width="180" textAlign="center"
                        isPrimaryKey="true"></e-column>
                    <e-column field="timeRemaining" headerText="Time remaining " width="150" editType="dropdownedit"
                        isPrimaryKey="true"></e-column>
                        <e-column field="requestStatus" headerText="requestStatus" width="150">
                            <ng-template #editTemplate>
                              <ejs-dropdownlist
                                id="requestStatus"
                                name="requestStatus"
                                [dataSource]="statusOptions"
                                [fields]="fields"
                                [(value)]="updatedStatus"
                                placeholder="Select Status"
                              >
                              </ejs-dropdownlist>
                            </ng-template>
                          </e-column>
                </e-columns>

            </ejs-grid>
        </div>
    </div>
</div>
<!-- <div class="sm:col-span-6 flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden">
    <div class="text-lg font-medium tracking-tight leading-6 truncate">Budget Details</div>
    <div class="flex flex-col flex-auto mt-2 overflow-x-auto">

    </div>
</div> -->