<div class="relative flex flex-col w-full h-full">
    <!-- Dismiss button -->
    <ng-container *ngIf="data.dismissible">
        <div class="absolute top-0 right-0 pt-4 pr-4">
            <button
                mat-icon-button
                [matDialogClose]="undefined">
                <mat-icon
                    class="text-secondary"
                    [svgIcon]="'heroicons_outline:x'"></mat-icon>
            </button>
        </div>
    </ng-container>
  
    <!-- Content -->
    <form [formGroup]="addTeamForm" (ngSubmit)="onSubmit()">
        <div class="flex flex-col mt-8 p-8 pb-5 bg-card shadow rounded overflow-hidden">
            <p class="text-lg font-medium">Add Team</p>
            <p class="text-secondary">
                In this section you can Add a Team and affect a new manager 
            </p>
            <mat-divider class="mt-8 mb-10"></mat-divider>
            <div class="flex flex-col gt-xs:flex-row">
                <mat-form-field class="flex-auto gt-xs:pr-3">
                    <input
                        matInput
                        formControlName="teamName"s
                        [placeholder]="'Team'">
                    <mat-icon
                        class="icon-size-5"
                        matPrefix
                        [svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
                </mat-form-field>
                <mat-form-field class="flex-auto gt-xs:pl-3">
                    <input
                        matInput
                        formControlName="description"
                        [placeholder]="'Description'">
                    <mat-icon
                        class="icon-size-5"
                        matPrefix
                        [svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
                </mat-form-field>
                <mat-form-field class="flex-auto gt-xs:pl-3">
                    <input
                        matInput
                        formControlName="onSiteEmployees"
                        [placeholder]="'On site Collaborators'">
                    <mat-icon
                        class="icon-size-5"
                        matPrefix
                        [svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
                </mat-form-field>
            </div>
            <div class="flex">
                <mat-form-field class="flex-auto">
                    <mat-select
                        formControlName="manager"
                        [placeholder]="'Affect a manager '">
                        <mat-option *ngFor="let manager of managers" [value]="manager">
                            {{ manager.fullName }}
                        </mat-option>
                    </mat-select>
                    <mat-icon
                        class="icon-size-5"
                        matPrefix
                        [svgIcon]="'heroicons_solid:menu-alt-2'"></mat-icon>
                </mat-form-field>
            </div>
        </div>
  
        <!-- Actions -->
        <ng-container *ngIf="data.actions.confirm.show || data.actions.cancel.show">
            <div class="flex items-center justify-center sm:justify-end px-6 py-4 space-x-3 bg-gray-50 dark:bg-black dark:bg-opacity-10">
                <!-- Cancel -->
                <ng-container *ngIf="data.actions.cancel.show">
                    <button
                        mat-stroked-button
                        [matDialogClose]="'cancelled'">
                        {{ data.actions.cancel.label }}
                    </button>
                </ng-container>
  
                <!-- Confirm -->
                <ng-container *ngIf="data.actions.confirm.show">
                    <button
                        mat-flat-button
                        [color]="data.actions.confirm.color"
                        type="submit"
                        [matDialogClose]="'confirmed'"
                        (click)="onSubmit()"
                        [disabled]="!addTeamForm.valid"
                       >
                        {{ data.actions.confirm.label }}
                    </button>
                </ng-container>
            </div>
        </ng-container>
    </form>
  </div>