.bg-cyan-500 {
    background-color: #00bcd4 !important;
    color: white;
}

.bg-emerald-600 {
    background-color: #2ecc71 !important;
    color: white;
}

.bg-amber-400 {
    background-color: #ffc107 !important;
    color: white;
}

.bg-red-500 {
    background-color: #ef4444 !important;
    color: white;
}
