<div class="flex flex-col flex-auto min-w-0">

    <!-- Main -->
    <div class="flex-auto p-6 sm:p-10">

        <!-- CONTENT GOES HERE -->
        <div class="xl:col-span-2 flex flex-col flex-auto bg-card shadow rounded-2xl overflow-hidden">
            <div class="p-6 flex flex-col sm:flex-row sm:justify-between sm:items-center">
              <div class="text-lg font-large tracking-tight leading-6 truncate">
                Remote work scheduler
              </div>
              <div class="flex items-center mt-4 sm:mt-0">
                <span class="text-secondary font-medium mr-4">
                </span>
              </div>
            </div>
    
            <div class="overflow-x-auto mx-6 mb-02">
              <div class="control-section">
                <div class="col-lg-9 content-wrapper">
                  <ejs-schedule #schedule height='650px' [(selectedDate)]="selectedDate" [eventSettings]="eventSettings">
                  </ejs-schedule>
                </div>
                <div class="col-lg-3 property-section">
                  <div class="property-panel-section">
                    <div class="property-panel-header">Properties</div>
                    <div class="property-panel-content">
                      <div id="property" class="property-panel-table" title="Properties">
                        <table id="property" title="Properties" style="width: 100%">
                          <tbody>
                            <tr style="height: 50px">
                              <td style="width: 100%;">
                                <div>

                                </div>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

    </div>

</div>
