<!-- <div class="sm:col-span-6 flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden">
    <div class="text-lg font-medium tracking-tight leading-6 truncate">Budget Details</div>
    <div class="flex flex-col flex-auto mt-2 overflow-x-auto">

    </div>
</div> -->



<div class="flex flex-col flex-auto min-w-0">
    <!-- Main -->
    <div class="flex-auto p-6 sm:p-10">
        <!-- CONTENT GOES HERE -->
        <div class="mt-4  h-150 min-h-50 max-h-300 border-2 rounded-2xl">
            <ejs-grid
                #grid
                class="border-2 rounded-2xl"
                [dataSource]="data"
                height="400"
                [allowFiltering]="true"
                [filterSettings]="filterSettings"
                [editSettings]="editSettings"
                [toolbar]='toolbarOptions'
                [allowPaging]="true"
                [pageSettings]="PageSettings"
                (beforePrint)='beforePrint($event)'
                (actionBegin)="onActionBegin($event)"
                (dataBound)="onDataBound()"


            >
                <e-columns>
                    <e-column
                        field="user.SopraID"
                        headerText="Sopra ID"
                        width="120"
                        textAlign="center"
                        isPrimaryKey="true"
                        [validationRules]="orderidrules"
                    ></e-column>
                    <e-column
                        field="user.fullName"
                        headerText="Full user name"
                        width="150"
                        isPrimaryKey="true"
                        [validationRules]="customeridrules"
                    >
                </e-column>
                    <e-column
                        field="user.email"
                        headerText="User Email"
                        width="150"
                        format="yMd"
                        textAlign="left"
                        isPrimaryKey="true"
                    ></e-column>
                    <e-column
                        field="user.phoneNumber"
                        headerText="Phone Number"
                        width="120"
                        textAlign="center"
                        isPrimaryKey="true"
                    ></e-column>
                    <e-column
                        field="user.role"
                        headerText="Requested Role"
                        width="150"
                        editType="dropdownedit"
                    >
                </e-column>
                    <e-column
                        field="team.teamName"
                        headerText="Team"
                        width="150"
                        editType="dropdownedit"
                    >
                    <ng-template #editTemplate>
                        <ejs-dropdownlist
                          id="team.teamName"
                          name="Team"
                          [(value)]="idTeam"
                          [dataSource]="teams"
                          [fields]="{ text: 'teamName', value: 'id' }"
                          (change)="onTeamChange($event)"
                          [enabled]="isTeamDropdownEnabled"
                          >
                        </ejs-dropdownlist>
                      </ng-template>
                </e-column>
                    <e-column
                        field="user.userStatus"
                        headerText="Status"
                        width="150"
                        editType="dropdownedit"
                    >
                        <ng-template #template let-data>
                            <span
                                class="inline-flex items-center font-bold text-xs px-2.5 py-0.5 rounded-full tracking-wide uppercase"
                                [ngClass]="{
                                    'bg-amber-200 text-amber-800 dark:bg-amber-600 dark:text-amber-50': data.user.userStatus === 'PENDING',
                                    'bg-green-200 text-green-800 dark:bg-green-600 dark:text-green-50': data.user.userStatus === 'ACTIVE'
                                }"
                            >
                                <span class="leading-relaxed whitespace-nowrap">{{ data.user.userStatus }}</span>
                            </span>
                        </ng-template>

                    </e-column>
                </e-columns>
                <ng-template >
                    <div *ngIf="isEmpty;" class="flex flex-col items-center">
                        <img
                            [src]="
                                './assets/images/flags/emptyRecordTemplate_light.svg'
                            "
                            class="e-emptyRecord w-24"
                            alt="No record"
                        />
                        <span class="mt-2"
                            >There is no data available to display at the
                            moment.</span
                        >
                    </div>
                </ng-template>
            </ejs-grid>
        </div>
    </div>
</div>
<!-- <div class="sm:col-span-6 flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden">
    <div class="text-lg font-medium tracking-tight leading-6 truncate">Budget Details</div>
    <div class="flex flex-col flex-auto mt-2 overflow-x-auto">

    </div>
</div> -->



<div *ngIf="" class="flex flex-col flex-auto min-w-0">
<div *ngIf="display" class="flex flex-col flex-auto min-w-0">
    <!-- Main -->
    <div class="flex-auto p-6 sm:p-10">
        <!-- CONTENT GOES HERE -->
        <div class="mt-4  h-150 min-h-50 max-h-300 border-2 rounded-2xl">
            <ejs-grid
                #grid2
                class="border-2 rounded-2xl"
                [dataSource]="data2"
                height="400"
                [allowFiltering]="true"
                [filterSettings]="filterSettings"
                [editSettings]="editSettings"
                [toolbar]='toolbarOptions'
                [allowPaging]="true"
                [pageSettings]="PageSettings"
                (beforePrint)='beforePrint($event)'
                (actionBegin)="onActionBegin($event)"

            >
                <e-columns>
                    <e-column
                        field="user.SopraID"
                        headerText="Sopra ID"
                        width="120"
                        textAlign="center"
                        isPrimaryKey="true"
                        [validationRules]="orderidrules"
                    ></e-column>
                    <e-column
                        field="user.fullName"
                        headerText="Full user name"
                        width="150"
                        isPrimaryKey="true"
                        [validationRules]="customeridrules"
                    >
                </e-column>
                    <e-column
                        field="user.email"
                        headerText="User Email"
                        width="150"
                        format="yMd"
                        textAlign="left"
                        isPrimaryKey="true"
                    ></e-column>
                    <e-column
                        field="user.phoneNumber"
                        headerText="Phone Number"
                        width="120"
                        textAlign="center"
                        isPrimaryKey="true"
                    ></e-column>
                    <e-column
                        field="user.role"
                        headerText="Requested Role"
                        width="150"
                        editType="dropdownedit"
                    ></e-column>
                    <e-column field='userTeam.idTeam' headerText='Team' foreignKeyField='idTeam' foreignKeyValue='teamName' [edit]="teamParams" editType="dropdownedit" width='120'>
                        <ng-template #template let-Teams>
                          {{ data.userTeam ? data.userTeam.teamName : 'No Team' }}
                        </ng-template>
                      </e-column>
                    <e-column
                        field="user.userStatus"
                        headerText="Status"
                        width="150"
                        editType="dropdownedit"
                    >
                        <ng-template #template let-data>
                            <span
                                class="inline-flex items-center font-bold text-xs px-2.5 py-0.5 rounded-full tracking-wide uppercase"
                                [ngClass]="{
                                    'bg-amber-200 text-amber-800 dark:bg-amber-600 dark:text-amber-50': data.user.userStatus === 'PENDING',
                                    'bg-green-200 text-green-800 dark:bg-green-600 dark:text-green-50': data.user.userStatus === 'ACTIVE'
                                }"
                            >
                                <span class="leading-relaxed whitespace-nowrap">{{ data.user.userStatus }}</span>
                            </span>
                        </ng-template>

                    </e-column>
                </e-columns>
                <ng-template >
                    <div *ngIf="isEmpty;" class="flex flex-col items-center">
                        <img
                            [src]="
                                './assets/images/flags/emptyRecordTemplate_light.svg'
                            "
                            class="e-emptyRecord w-24"
                            alt="No record"
                        />
                        <span class="mt-2"
                            >There is no data available to display at the
                            moment.</span
                        >
                    </div>
                </ng-template>
            </ejs-grid>
        </div>
    </div>
</div>
